.view-annotation {
  position: absolute;
}

.view-annotation__indicator {
  background-color: yellow;
  border-radius: 50%;
  opacity: 0.5;
}

.view-annotation__content {
  position: absolute;
  left: 40px;
  top: 40px;
}

.view-annotation__type-selector {
  background-color: var(--brand-color);
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  line-height: 1;
}

.view-annotation__type img {
  width: 20px;
}

.view-annotation__type:not(:last-child) {
  margin-right: 10px;
}

.view-annotation__remove {
  position: absolute;
  top: -10px;
  right: -10px;

  width: 15px;
  height: 15px;
  background-color: black;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  line-height: 15px;
  opacity: 0.5;
}
