<div
  class="view-annotation"
  [style.top.px]="annotation.coords.y"
  [style.left.px]="annotation.coords.x"
  appAnnotationMove
  [annotation]="annotation"
>
  <div
    class="view-annotation__remove"
    (click)="remove.emit(annotation)"
  >
    &times;
  </div>

  <div class="view-annotation__content">
    <div
      class="view-annotation__type-selector"
      *ngIf="!annotation.type; else hasType"
    >
      <div
        *ngFor="let annotationType of annotationTypes"
        class="view-annotation__type"
        (click)="annotation.type = annotationType"
      >
        <img [src]="'/assets/images/annotation-' + annotationType + '.svg'" alt="">
      </div>
    </div>

    <ng-template #hasType>
      <ng-container *ngIf="!annotation.completed; else annotationDisplay">
        <ng-container [ngSwitch]="annotation.type">
          <app-annotation-image-add
            *ngSwitchCase="annotationTypeEnum.Image"
            [annotation]="annotation"
          ></app-annotation-image-add>
          <app-annotation-text-add
            *ngSwitchCase="annotationTypeEnum.Text"
            [annotation]="annotation"
          ></app-annotation-text-add>
        </ng-container>
      </ng-container>

      <ng-template #annotationDisplay>
        <ng-container [ngSwitch]="annotation.type">
          <app-annotation-image-display
            *ngSwitchCase="annotationTypeEnum.Image"
            [annotation]="annotation"
          ></app-annotation-image-display>
          <app-annotation-text-display
            *ngSwitchCase="annotationTypeEnum.Text"
            [annotation]="annotation"
          ></app-annotation-text-display>
        </ng-container>
      </ng-template>
    </ng-template>
  </div>
</div>
