<div
  class="view-annotation"
  [style.top.px]="annotation.y"
  [style.left.px]="annotation.x"
>
  <!-- <div
    class="view-annotation__indicator"
    [style.width.px]="radius * 2"
    [style.height.px]="radius * 2"
  ></div> -->

  <div
    class="view-annotation__remove"
    (click)="remove.emit(annotation)"
  >
    &times;
  </div>

  <div class="view-annotation__content">
    <div
      class="view-annotation__type-selector"
      *ngIf="!annotation.type; else hasType"
    >
      <div
        *ngFor="let annotationType of annotationTypes"
        class="view-annotation__type"
        (click)="annotation.type = annotationType"
      >
        <img [src]="'/assets/images/annotation-' + annotationType + '.svg'" alt="">
      </div>
    </div>

    <ng-template #hasType>
      <ng-container [ngSwitch]="annotation.type">
        <app-view-annotation-image
          *ngSwitchCase="annotationTypeEnum.Image"
          [annotation]="annotation"
        ></app-view-annotation-image>
        <app-view-annotation-text
          *ngSwitchCase="annotationTypeEnum.Text"
          [annotation]="annotation"
        ></app-view-annotation-text>
      </ng-container>
    </ng-template>
  </div>
</div>
